@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Xanh+Mono:ital@0;1&display=swap');
* {
    text-align: center;
    color: rgb(250, 235, 215);
}
body {
    background-color: rgb(73, 41, 0);
}
nav {
    font-family: "Xanh Mono";
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    background: rgb(148, 58, 58);
}
nav a:hover {
    text-decoration: none;
    background-color: rgb(158, 149, 137);
}
nav ul li{
    float: left;
    display: block;
    background: rgb(148, 58, 58);
    position: relative;
    margin: 0px 1px;
    transform: translateY(-50px);
    cursor: pointer;
}
nav ul li a {
    display: block;
    padding: 6px 10px 0 20px;
    font-weight: 600;
    height: 45px;
    text-decoration: none;
    color: rgb(250, 235, 215);
    transition: .5s;
}
nav ul ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
}
nav ul ul li {
    float: left;
    border-top: 1px solid rgb(250, 235, 215);
    width: 100%;
    white-space: nowrap;
    transform: translateY(0px);
}
nav ul ul a {
    display: block;
    height: 20px;
    padding: 6px 5px;
    color: rgb(250, 235, 215);
    text-align: left;
    font-size: 12px;
    transition: .5s;
}
main {
    background-color: rgb(148, 58, 58);
    max-width: 1700px;
    margin: auto;
    border: 5px solid rgb(250, 235, 215);
}
h1 {
    font-family: "Xanh Mono";
    font-style: italic;
    font-size: 70px;
}
h2 {
    font-family: "Xanh Mono";
    font-style: italic;
    font-size: 25px;
}
h3 {
    font-family: "Xanh Mono";
    font-size: 35px;
}
h4 {
    font-family: "Xanh Mono";
    font-style: italic;
    font-size: 20px;
}
h5 {
    font-family: "Xanh Mono";
    font-style: italic;
    font-size: 20px;
}
p {
    font-family: "Cabin";
    font-size: 15px;
}
.title span {
    position: relative;
    background-color: rgb(250, 235, 215);
    max-width: 800px;
    height: 10px;
    display: block;
    margin: auto;
    transform: translate(0px, -45px);
    z-index: 200;
}
.title h2 {
    transform: translate(0px, -50px);
}
.section {
    margin: auto;
}
.section.aboutUs {
    width: auto;
}
.section.aboutUs h4 {
    font-family: "Cabin";
    font-style: italic;
}
.section.aboutUs p {
    font-family: "Xanh Mono";
    font-style: italic;
}
.subSection {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 50%;
}
.subSection.drinks { 
    margin: auto;
}
.subSection.drinks ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
    
}
.subSection.drinks ul li {
    font-size: 20px;
    padding: 10px 40px;
    margin: auto;
}
.menuItem {
    max-width: 700px;
    min-width: 500px;
}
.menuItem img {
    height: 200px;
    width: 300px;
}
.sides {
    margin: auto;
    max-width: 1600px;
    border: solid 3px rgb(250, 235, 215);
}
.sides ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.sides ul li img {
    width: 300px;
    height: 200px;
    padding: 10px 0px 20px 0px;
}
.sides ul li {
    font-family: "Cabin";
    font-size: 15px;
}
.sides.japaneseMenu ul li {
    font-size: 15px;
}
.contacts.social {
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts.social a img {
    width: 100px;
    height: auto;
    transition: .5s;
}
.contacts.social a img:hover {
    width: 130px;
    height: auto;
}
#aboutUs h3 {
    font-size: 0px;
    transition:  .5s;
}
#aboutUs h4 {
    font-size: 0px;
    transition: .5s;
}
#aboutUs p {
    font-size: 0px;
    transition: .5s;
}
#aboutUs.active h3 {
    font-size: 35px;
}
#aboutUs.active h4 {
    font-size: 20px;
}
#aboutUs.active p {
    font-size: 18px;
}
